<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <p>form here</p>
    <form method="POST" action="{{ url_for('form') }}">
        {{ form.csrf_token }}
        {{ form.username.label }}
        {{ form.username }}
        <ul>
            {% for error in form.username.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {{ form.password.label }}
        {{ form.password }}
        <ul>
            {% for error in form.password.errors %}
            <li style="color:red;">{{ error }}</li>
            {% endfor %}
        </ul>
            {{ form.recaptcha }}
        {% for error in form.recaptcha.errors %}
        <ul>
                <li style="color:red;">{{ error }}</li>
        {% endfor %}
        </ul>
        <input type="submit" value="submit">
    </form>
</body>
</html>
